<mat-toolbar color='warn' class="mat-elevation-z6">
  <span> <mat-icon>medical_services</mat-icon> SAFETY1st</span>
  <div class="spacer"></div>
  <a mat-button>Home</a>
  <a mat-button>Services</a>
  <a mat-button>About Us</a>
  <a mat-raised-button color='primary'>SignUp</a>
</mat-toolbar>

<div class="center-content">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login/Register</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="LogIn">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Email" value="">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password">
        </mat-form-field>
        <button mat-raised-button color="primary" style="margin-top: 10px;">Login</button>
      </mat-tab>
      <mat-tab label="Register">

      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

</mat-card>
</div>


<router-outlet></router-outlet>